a{
  text-decoration: none;
}
.center{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.preview{
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("images/compressed_foto12.jpg") no-repeat;
  background-size: cover;
  background-position-y:50% ;
  height: 100vh;
}
.opaco{
  display: flex;
  background-color: rgba(65, 61, 61, 0.834);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.empresarial{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#secresalud{
  justify-content: right;
  background: #00adef;
}
#razon{
  background: #00adef;

}
/* servicios */
.services{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  
}
.services:nth-child(even){
  flex-direction: row-reverse;
}
.services .text{
  max-width: 600px;
}
.services .figure, .img{
  border-radius: 100%;
}
.services figure{
  box-shadow: 20px 20px 20px;
}
.services:nth-child(even) figure{
  box-shadow: -20px 20px 20px;
}

/* footer */

footer {
  color: white;
  padding: 20px;
  display: flex;
  background-color: #4e4b4b;
}

footer div {
  margin: 0px auto 0px auto;
}

footer .redes {
  display: flex;
}

.redes li {
  margin: auto;
}

footer li {
  list-style: none;
}

.figure {
  display: grid;
  grid-template: 1fr/1fr;
  grid-template-areas: "img";
  max-width: 600px;
  border-radius: 100%;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-area: img;
  border-radius: 100%;
}
.figure::after {
  grid-area: img;
  width: 100%;
  height: 100%;
  background-color: rgba(201, 57, 71, 0.66);
  border-radius: 100%;
  color: #fff;
  display: grid;
  place-items: center;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  clip-path: circle(150% at top right);
  transition: clip-path .4s;
}
.figure:hover::after {
  clip-path: circle(0 at top right);
}
#audiometría::after{
  content: "Audiometría clínica y ocupacional";
}
#pulmonar::after{
  content:"Pruebas de función pulmonar"
}

#electrocardiograma::after {
  content: "Electrocardiograma";
}
#laboratorio::after {
  content: "Laboratorio clínico";
}


#certificado::after {
  content: "Certificado de manipulación de alimentos";
}


#medicina::after {
  content: "Medicina laboral y del trabajo";
}

#prueba::after {
  content: "Prueba psicomotriz para conductores";
}

#valoracion::after {
  content: "Valoración psicológica";
}
.title{
  font-size: 5rem;
  margin-bottom: 60px;
}

/* Nosotros */

.about div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0px;
}

.logo{
  background: url("./images/logo.png") no-repeat;
  background: cover;
  background-size: contain;
  background-position-x: 50% ;
  background-position-y: 50%;
  
}

.mision{
  background-color: rgba(255, 255, 255, 0.492);
  font-size: 2rem;
}
.about div figure{
  box-shadow: 20px 20px 20px #97ca4c, -20px 0 20px #00adef;
}
.about div figure img{
  width: 400px;
}